
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Source+Code+Pro:wght@500&display=swap');

body{
    color: white;
    font-family:'Poppins';
    margin: auto;
}

 /* <---------- CABEÇALHO ----------> */
.container{
    background: linear-gradient(180deg, rgba(56,56,56,1) 0%, rgba(21,48,68,1) 80%);
}

.container2{
 background-color: rgb(46, 46, 46);
}

header{
    margin: auto;
    width: 85%; /* implica que 10% existirá um espaço na esq e direita do body */
    font-size: 17px;
    padding-top: 35px;
}

header ul, li, a{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    z-index: 1000;
    list-style: none;
}
/* header ul{
    display: flex;
    align-items: center;
    list-style: none; 
} */

header section{
    display: flex;
    justify-content: space-between;
}

.container-text{
    margin-top: 0;
    display: flex;
    justify-content:center;
    flex-direction: column;
    width: 280px;
}

.destaque{
    color: rgb(82,245,204);
    display: flex;
    gap: 10px;
    margin-bottom: -5px;
}

.container-text h1{
    line-height: 60px;
    font-weight: 700;
    font-size: 60px;
}

.styletext{
    font-weight: 100;
    text-align: left;
    line-height: 18px;
    font-size: 15px;
}

.imagePrincipal{
    position: relative;
    margin-top: 100px;
    display: flex;
    opacity: 0; /* Inicialmente, define a opacidade para zero */
    animation: fadeIn 1s ease-out forwards; /* Adiciona animação de fade-in */
    top: 30px;

}

@keyframes fadeIn {
    from {
      top: 30;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

.imagePrincipal img{
    position: relative;
    height: 800px;
}


  /* <---------- SECTION 1 ----------> */
.hero1{
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 85%; /* implica que 10% existirá um espaço na esq e direita do body */
}

.div1-hero1{
    background-color: rgb(27, 27, 27);
    padding: 40px 20px;
    border-radius: 20px;
    transition: background-color 1s ease;
}

.div1-hero1:hover{
    transition: background-color 0.5s ease;
    padding: 40px 20px;
    background-color: rgb(31, 57, 74);
    border-radius: 20px;
    box-shadow: 10px 20px 30px rgba(54, 100, 130, 0.741);
}

.container-text2{
    margin-top: 0;
    justify-content:center;
    flex-direction:column;
    width: 390px;
}

.container-text2 h2{
    line-height: 60px;
    font-weight: 700;
    font-size: 30px;
}

.div1-hero1 img{
    height: 500px;  
}
.BTN2{
    display: flex;
}

.BTN{
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 30px;
    background: rgb(194,139,0);
    background: linear-gradient(137deg, rgba(194,139,0,1) 37%, rgba(255,220,38,1) 100%);
    border-radius: 24px;
}


