@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Source+Code+Pro:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 100%;
    width: 80%;
    margin: auto;
    background: rgb(56,56,56);
    background: linear-gradient(180deg, rgba(56,56,56,1) 0%, rgba(21,48,68,1) 100%);
}

header ul, li{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.BNT{
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 30px;
    border-radius: 24px;
    background: rgb(192,139,3);
    background: linear-gradient(132deg, rgba(192,139,3,1) 15%, rgba(255,220,38,1) 100%);
}

header{
    margin-top: 35px;
}

header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style:none;
    
}

main{
    display: flex;
    justify-content: space-between;
}

.container-text{
    margin-top: 70px;
   display: flex;
   flex-direction: column;
   width: 250px;
}

.destaque{
    display: flex;
    color: rgb(82,245,204);
    gap:10px;
}

.container-text h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
}

.styletext{
    text-align: left;
    line-height: 18px;
    font-size: 15px;
}

.imagePrincipal{
    margin-top: 100px;
    margin-bottom: -5px;
}

.imagePrincipal img{
    height: 800px;    
}
